body.resume {
  font-family: "Calibri", sans-serif;;
  font-size: 10.5pt;
  padding: 0.15% 2.55% 0 2.55%;

  a[href^='http'] {
    color: blue;
    text-decoration: underline;
  }

  h1 {
    font-family: "Lato", sans-serif;
    font-size: 16pt;
  }

  header {
    ul {
      margin: 0 0 0 auto;
      padding: 0;
    }

    li {
      display: inline-block;
      margin-right: .5rem;
      padding: 0;
    }
  }
}