body.home {
  padding: 20% 5%;

  h1 {
	font-size: 1.9rem;
	line-height: 1.2;

    span {
      font-size: .8rem;
	  position: relative;
	  top: -12px;
    }
  }

  h4 {
    font-size: .8em;

    &.last {
      padding-top: .4em;
      text-align: left;
    }
  }

  main {
	width: 100%;
  }
}